
.custom-card {
    border: none !important;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
  }
  

  .custom-card:hover {
    background: linear-gradient(to left, rgba(19, 19, 19, 0.1), rgba(255, 184, 0, 0.1));
    outline: 1px solid #ffb800;
    outline-offset: -1px;
  }

  
  .custom_social-media{
    border: none !important;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
  }
  .custom_social-media:hover {
    background: linear-gradient(to left, rgba(19, 19, 19, 0.1), rgba(255, 184, 0, 0.1));
    outline: 1px solid #ffb800;
    outline-offset: -1px;
  }